# Python
__pycache__/
*.pyc
venv/
.env

# Node
node_modules/
.next/

# Dataset
data/
datasets/
*.csv
*.pt
*.pth

# IDE
.vscode/
.idea/

# Uploads
backend/uploads/

# Videos & PDFs
*.pdf
*.mp4

# Node
node_modules/

# Python
__pycache__/
*.pyc
.env

# Frontend nested git
frontend/.git